In [2]:
import sqlite3
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')
cur = conn.cursor()

In [3]:
#question 10

query10 = """
       SELECT sub.name AS facility_name, SUM(facility_revenue) AS total_facility_revenue
FROM 
(SELECT name, CASE WHEN memid = 0 THEN guestcost * slots ELSE membercost * slots END AS facility_revenue 
FROM Bookings as b 
JOIN Facilities as f 
USING (facid)) AS sub 
GROUP BY name
ORDER BY total_facility_revenue
LIMIT 3;
        """
cur.execute(query10)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [4]:
#question 11
query11 = """
         SELECT (m1.firstname || ' ' || m1.surname) AS first_last_name, (m2.firstname || ' ' || m1.surname) AS member_who_recommended
        FROM Members AS m1
        LEFT JOIN Members AS m2
        ON m1.memid = m2.recommendedby
        ORDER BY first_last_name ASC;
 """
 
cur.execute(query11)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

('Anna Mackenzie', None)
('Anne Baker', None)
('Burton Tracy', 'Ponder Tracy')
('Charles Owen', None)
('Darren Smith', 'Janice Smith')
('Darren Smith', 'Gerald Smith')
('Darren Smith', 'Charles Smith')
('Darren Smith', 'Jack Smith')
('Darren Smith', 'Anna Smith')
('Darren Smith', None)
('David Farrell', None)
('David Jones', 'Douglas Jones')
('David Pinker', None)
('Douglas Jones', None)
('Erica Crumpet', None)
('Florence Bader', 'Ramnaresh Bader')
('GUEST GUEST', None)
('Gerald Butters', 'Matthew Butters')
('Henrietta Rumney', None)
('Henry Worthington-Smyth', None)
('Hyacinth Tupperware', None)
('Jack Smith', None)
('Janice Joplette', 'Nancy Joplette')
('Janice Joplette', 'David Joplette')
('Jemima Farrell', 'Timothy Farrell')
('Jemima Farrell', 'David Farrell')
('Joan Coplin', None)
('John Hunt', None)
('Matthew Genting', 'Henrietta Genting')
('Millicent Purview', 'John Purview')
('Nancy Dare', None)
('Ponder Stibbons', 'Anne Stibbons')
('Ponder Stibbons', 'Florence Stibbons')
('Ramnaresh Sarwin', None)
('Tim Boothe', None)
('Tim Rownam', 'Tim Rownam')
('Timothy Baker', 'Joan Baker')
('Tracy Smith', 'Henry Smith')
('Tracy Smith', 'Millicent Smith')
('Tracy Smith', 'Erica Smith')

In [5]:
#question 12
query12 = """
       SELECT facid, 
(SELECT name
 FROM Facilities
 WHERE Facilities.facid = Bookings.facid) AS facility_name, COUNT(memid) AS facility_member_usage
FROM Bookings
WHERE memid !=0
GROUP BY facid;

        """
cur.execute(query12)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

(0, 'Tennis Court 1', 308)
(1, 'Tennis Court 2', 276)
(2, 'Badminton Court', 344)
(3, 'Table Tennis', 385)
(4, 'Massage Room 1', 421)
(5, 'Massage Room 2', 27)
(6, 'Squash Court', 195)
(7, 'Snooker Table', 421)
(8, 'Pool Table', 783)

In [7]:
#question 13
query13 = """
       SELECT STRFTIME(', starttime) AS months, COUNT(memid) AS facility_usage
FROM Bookings
WHERE memid !=0
GROUP BY months;
        """
cur.execute(query13)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

OperationalError: near "%": syntax error